# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV=local


# Generated during provision, you can also add your own variables.
BOT_ID=
TEAMS_APP_ID=
BOT_DOMAIN=
BOT_ENDPOINT=
TEAMS_APP_TENANT_ID=
M365_TITLE_ID=
M365_APP_ID=
AZURE_PERSONAL_ACCESS_TOKEN=
PREVIEW_IMAGE=
WORK_ITEM_URL=
ORG_NAME=
PROJECT_NAME=
